body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.container {
    max-width: 1200px; 
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}


.view-header {
    margin: 30px 0 20px 0;
    text-align: center;
}

.view-header h2 {
    font-size: 28px;
    color: #333;
    display: inline-block;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.view-header h2 a {
    color: #333;
}




.views-view-grid {
    display: grid; 
    gap: 30px;
    padding: 0 15px;
    margin-bottom: 30px;
}


.views-view-grid .row {
    display: contents; 
}


.views-col {
    float: none;
    padding: 0;
    margin-bottom: 0;
}


.views-col > div {
    height: 100%;
}

.views-col a {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    transition: box-shadow 0.3s ease;
    height: 100%;
    text-decoration: none;
    color: #333;
    overflow: hidden; 
}

.views-col a:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.news_teaser {
    position: relative;
    line-height: 0;
}

.news_teaser img {
    display: block;
    width: 100%;
    height: auto;
}

.news_teaser span {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
}

.views-col h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding: 15px;
    margin: 0;
    flex-grow: 1; 
}


.views-view-grid {
    grid-template-columns: repeat(1, 1fr); 
}


@media (min-width: 768px) and (max-width: 1023px) {
    .views-view-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (min-width: 1024px) {
    .views-view-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}

 
.views-element-container.form-group:not(#block-views-block-front-page-news-block-3) {
    display: none;
}

илі для пагінації */
.pager-nav {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.pager-nav .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pager-nav .pagination > li {
    display: inline;
}

.pager-nav .pagination > li > a,
.pager-nav .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #007bff;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pager-nav .pagination > .is-active > a,
.pager-nav .pagination > .is-active > span {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: default;
}

.pager-nav .pagination > li:first-child > a,
.pager-nav .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pager-nav .pagination > li:last-child > a,
.pager-nav .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pager__item--next a, .pager__item--last a {
    font-weight: bold;
}